/* CSS 스타일을 작성해 주세요. */
@import 'reset.css';
@font-face {
  font-family: 'OmuDaye';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'allimjang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-R.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'allimjang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

.todo-app {
  box-sizing: border-box;
  width: 500px;
  height: 600px;
  margin-inline: auto;
  margin-block: 100px;
  border: 3px solid #fff426;
  border-radius: 1.875rem;
  background-color: #fffbb6;
  box-shadow: 0px 0px 5px 5px rgba(40, 40, 40, 5%);
  position: relative;
  padding: 20px;
}

header > h1 {
  width: 100%;
  text-align: center;
  font-family: 'allimjang';
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -3px;
  color: rgb(55, 55, 55);
  padding-block: 1.5625rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

form > input {
  width: 80%;
  height: 35px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(55, 55, 55);
  font-family: 'OmuDaye';
  font-size: 30px;
  padding-inline-start: 10px;
  margin-inline-start: 10px;
}

form > input:focus-visible {
  outline: none;
}

form > button {
  font-family: 'OmuDaye';
  font-size: 20px;
  width: 10%;
  border: none;
  border-radius: 5px;
  background-color: rgb(55, 55, 55);
  color: white;
  cursor: pointer;
}

section {
  border-top: 5px solid #fff426;
  padding-block-start: 20px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

section > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section > ul > li {
  border-bottom: 1px dashed rgb(123, 123, 123);
  display: flex;
  flex-direction: row;
  margin-inline: 10px;
  padding-block: 5px;
  gap: 5px;
  align-items: center;
}

.todolist > li > label > input {
  width: 20px;
  height: 20px;
}

.todolist > li > label > span {
  margin-inline-start: 10px;
  font-family: 'OmuDaye';
  font-size: 25px;
  color: rgb(55, 55, 55);
}

.todolist > li > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.todolist > li > button:nth-of-type(1) > img {
  width: 10px;
  height: 10px;
}

.todolist > li > button:nth-of-type(2),
.todolist > li > button:nth-of-type(3) {
  padding: 0;
  width: 30px;
  height: 30px;
}
.todolist > li > button:nth-of-type(2) {
  margin-left: auto;
}

.todolist > li > button > img {
  display: block;
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}

footer > p {
  font-family: 'allimjang';
  font-weight: 400;
  width: 100%;
  color: rgb(55, 55, 55);
  display: block;
  text-align: center;
}

@media (width <= 520px) {
  .todo-app {
    margin-inline: 0;
    width: 100%;
    height: 100vh;
    margin-block: 0;
  }
  header > h1 {
    font-size: 2.4em;
    padding-block: 15px;
  }

  main {
    gap: 1.25rem;
  }
  form {
    gap: 0.3125rem;
  }

  form > input {
    width: 75%;
    height: 25px;
    font-size: 25px;
    padding-inline-start: 4px;
    margin-inline-start: 4px;
  }
  form > button {
    font-size: 15px;
    width: 15%;
  }
  section > ul > li {
    gap: 10px;
    margin-inline: 0;
  }
  .todolist > li > label > input {
    width: 15px;
    height: 15px;
  }
  .todolist > li > label > span {
    font-size: 20px;
  }
  .todolist > li > button:nth-of-type(2) {
    margin-left: auto;
  }
  .todolist > li > button:nth-of-type(3) {
    margin-left: 15px;
  }
  .todolist > li > button:nth-of-type(2),
  .todolist > li > button:nth-of-type(3) {
    width: 30px;
    height: 30px;
  }
}
